---
layout: default
---

{% assign records = site.releases | where: "compilation", "false" | sort: "date" | reverse %}
{% assign compilations = site.releases | where: "compilation", "true" | sort: "date" | reverse %}

<header class="section-header">
  <h2>Releases</h2>
</header>

<ol class="recording-list">
{% for record in records %}
  {% include record.html %}
{% endfor %}
</ol>

<header class="section-header">
  <h2>Compilations</h2>
</header>

<ol class="recording-list">
{% for record in compilations %}
  {% include record.html %}
{% endfor %}
</ol>
